* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    overflow: hidden;
    height: 100vh;
}

body {
    margin: 0;
    background-color: #F9DFF2;
    height: 100vh;
    font-family: 'ladislav'
}

.forms{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
}

.login--par{
    font-size: 4rem;
    font-weight: 800;
    color: #F900BF;
}

.signup--par{
    font-size: 4rem;
    font-weight: 800;
}

@font-face {
    font-family: ladislav;
    src: url('./Ladislav-Bold.otf');
}

.par--wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pink--par{
    color: #F900BF;
}

.haikei-img{
    width: 100vw;
    min-width: 60rem;
    transform: translateY(-13rem)
}

.haikei-img2{
    width: 100vw;
    min-width: 50rem;
    transform: translateY(-3rem)
}