.game{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boards {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-evenly;
    gap: 4rem;
  }
  
  .board {
    width: fit-content;
    /* border: 1px solid #F900BF; */
    display: flex;
    flex-direction: column;
  }
  
  .gameplay--row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }

  .gameplay--field{
  flex: 33%;
  height: 4rem;
  width: 4rem;
  border: 1px solid #F900BF;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  }

  .disabled {
    pointer-events: none; 
    opacity: 0.4;
  }

  .gameplayBtn{
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 3rem;
    color: white;
    background-color: #F900BF;
    border: #F900BF;
    font-family: ladislav;
    font-size: 1rem;
    margin-top: 3rem; 
  }

  .barbieheimer{
    color: #F900BF;
    max-width: 80%;
  }

  .bomb-cell {
    background-color: black;
    color: white;
  }
  
  .barbie-cell {
    background-color: #F900BF;
    color: white;
  }

  .empty-cell{
    background-color: #e6a5d4;
  }

  .btnAndPoints{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
  }

  .points{
    color: #F900BF;
    font-size: 1.2rem;
  }

  .guessed{
    background-color: grey;
  }