.game{
  /* padding-top: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.boards {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-evenly;
    gap: 4rem;
  }
  
  .board {
    width: fit-content;
    /* border: 1px solid #F900BF; */
    display: flex;
    flex-direction: column;
  }
  
  .gameplay--row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }

  .gameplay--field{
  flex: 33%;
  height: 4rem;
  width: 4rem;
  border: 1px solid #F900BF;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  }

  .disabled {
    pointer-events: none; 
    opacity: 0.4;
  }

  .gameplayBtn{
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 3rem;
    color: white;
    background-color: #F900BF;
    border: #F900BF;
    font-family: ladislav;
    font-size: 1rem;
  }

  .barbieheimer{
    color: #F900BF;
    max-width: 80%;
  }

  .bomb-cell {
    background-color: black;
  }
  
  .barbie-cell {
    background-color: #F900BF;
  }

  .empty-cell{
    background-color: #e6a5d4;
  }

   .guessed {
    background-color: #e6a5d4;
    opacity: 50%;
  } 

  .btnAndPoints{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin-top: 1rem;
  }

  .points{
    color: #F900BF;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }

  .lost {
    background-color: #16181E;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    background: #FAF9F6;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
  
  .modalBtn {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    background-color: #F900BF;
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: ladislav;
  }
  
  .modalBtn:hover {
    background-color: #e6a5d4;
  }