.form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.4);
    gap: 1.5rem;
    min-height: 37rem;
    z-index: 1;
    transition: all .4s ease-in-out; 
}

.form:hover{
    transform: scale(1.05); 
}

.form--input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
}

.form--submit {
    width: 15rem;
    height: 2.5rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #F900BF;
    border: none;   
    cursor: pointer; 
    font-family: 'ladislav';
}

.field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.form--title{
    font-size: 1.5rem;
}

.error-message{
    color: #F900BF;
    white-space: normal;
    max-width: 15rem;
    max-height: 1rem;
    font-size: xx-small;
}